################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MS365Learning/.vs/MS365Learning/FileContentIndex/812ea232-7217-49a2-9435-8c0104cdb731.vsidx
